.task {
    display: flex;
    flex-direction: column;
    // left: 20px;
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    // height: 110px;
    max-width: 500px;

    &-theme-light {
        color: black;
        background: #c9c9c97e;
        &-completed {
            background: yellowgreen;
        }
    }

    &-theme-dark {
        color: white;
        background: #5555557e;
        &-completed {
            background: yellowgreen;
            color: black
        }
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}