.button_add {
  position: absolute;
  font-family: inherit;
  min-width: 100px;
  padding: 20px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffc117;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 16px;
  left: 180px;
  bottom: 4px;
}
  
.button_add:hover {
  background: #ffa600;
}
  
.button_add:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
