.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &-theme-light {
        background: white;
    }

    &-theme-dark {
        background: #000000;
    }
}
  
.header {
    display: flex;
    left: 20px;

    &-theme-light {
        color: black;
    }

    &-theme-dark {
        color: rgb(255, 255, 255);
    }
}

.header_tasks {
    display: flex;
    left: 20px;
    justify-content: center;

    &-theme-light {
        color: black;
    }

    &-theme-dark {
        color: rgb(255, 255, 255);
    }
}

.header_to_add_task {
    display: flex;
    left: 40px;
    color: rgb(255, 255, 255);
}

.new_task {
    display: flex;
    flex-direction: column;
}

.radios {
    display: flex;
    align-self: flex-end;
    padding: 50px 80px 0 0;
    flex-direction: column;

    &-theme-light {
        color: black;
    }

    &-theme-dark {
        color: white;
    }
}

.projects_and_tasks {
    display: flex;
    flex-direction: row;
    margin: 0 -50px;
}

.projects {
    margin: 0 50px;
}

.tasks {
    margin: 0 50px;
}