.wrapper {
  background: #141414;
}

.header {
  position: relative;
  left: 20px;
  color: rgb(255, 255, 255);
}

.button {
  position: relative;
  font-family: inherit;
  min-width: 100px;
  padding: 20px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ffc117;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 16px;
  top: 5px;
}

.button:hover {
  background: #ffa600;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.task {
  left: 20px;
  color: #fff;
  background: #5555557e;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}